<form action="add.php" method="post">
    <label>
        <span>First name:</span>
        <input name="first_name" id="fm" type="text">
    </label>
    <br>
    <label>
        <span>Last name:</span>
        <input name="last_name" id="lm" type="text">
    </label>
    <br>
    <label>
        <span>E-mail:</span>
        <input name="email" id="email" type="text">
    </label>
    <br>
    <label>
        <span>Headline:</span>
        <input name="headline" id="hl" type="text">
    </label>
    <br>
    <label>
        <span>Summary:</span>
        <input name="summary" id="sm" type="text">
    </label>
    <br>
    <input type="submit" onclick="return doValidate()" value="Add">
    <button type="button" onclick="window.location = 'index.php'">Cancel</button>
</form>
<script>
    function doValidate() {
        if(document.getElementById('email').value.indexOf('@') === -1){
            alert('Invalid e-mail');
            return false;
        } else if(!document.getElementById('fm').value && document.getElementById('fm').value.indexOf(' ') === -1){
            alert('All values are required');
            return false;
        } else if(!document.getElementById('lm').value){
            alert('All values are required');
            return false;
        } else if(!document.getElementById('hl').value){
            alert('All values are required');
            return false;
        } else if(!document.getElementById('sm').value){
            alert('All values are required');
            return false;
        }
    }
</script>