@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Piedra&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
#start{
  height: 100vh;
  font-family: 'Roboto Mono', monospace;
}
#centerWrld{
  font-size: 10vh;
}
#portfolio{
  height: 100vh;
}
#navbar{
  z-index: 2;
}
.messages{
  font-family: 'Lobster', cursive;
  font-size: 3vh;
}
#messagesBlock > span > div {
  margin: 5px;
}

.loadComponent-appear {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.loadComponent-appear.loadComponent-appear-active {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: all 0.6s linear;
}
.loadComponent-enter {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.loadComponent-enter.loadComponent-enter-active {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  transition: all 0.6s linear 0.4s;
}
.loadComponent-leave {
  opacity: 1.0;
  position:absolute
}
.loadComponent-leave.loadComponent-leave-active {
  opacity: 0;
  transition: all 0.6s linear;
  position:absolute;
}
.socialMedia{
  font-family: 'Piedra', cursive;
  align-self: center;
}
.socialMediaAnime-appear{
  opacity: 0;

}
.socialMediaAnime-appear.socialMediaAnime-appear-active {
  opacity: 1;
  transition: all 0.4s linear;
}
.loadComponent-enter {
  opacity: 0;
}
.socialMediaAnime-enter.socialMediaAnime-enter-active {
  opacity: 1;
  transition: all 0.4s linear 0.2s;
}
.socialMediaAnime-leave {
  opacity: 1.0;
  position:absolute
}
.socialMediaAnime-leave.socialMediaAnime-leave-active {
  opacity: 0;
  transition: all 0.4s linear;
  position:absolute;
}
.AboutMeCom{
  font-family: 'Roboto Mono', monospace;
}
.bg-portfolio{
  background: url("/images/bg3.jpg") no-repeat center;
  background-size: cover;
}
.bg-start{
  background: url("/images/bg1.png") no-repeat center;
  background-size: cover;
}